<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HJLM - Login</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <div class="center-container">
        <h1>Welcome to Hapoel JLM Data Center</h1>
        <form class="login-form" method="POST" action="/login">
            <p>Invalid username or password - Please try again</p>
            <input type="text" name="username" placeholder="Username"><br><br>
            <input type="password" name="password" placeholder="Password"><br><br>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
