<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HJLM - build session</title>
</head>
<body>
    <div class="center-container">
    <h1>Create Training Session</h1>
    {% include '000base_page.html' %}
    <div class="box">
        <form id="categoryForm" method="POST">
        <h3 for="parameter">Select a parameter</h3>
        <select id="parameter" name="parameter">
                <option value="Total Distance">Total Distance</option>
                <option value="Distance Zone 4 (Absolute)">Distance Zone 4 (Absolute)</option>
                <option value="Distance Zone 5 (Absolute)">Distance Zone 5 (Absolute)</option>
                <option value="Distance Zone 6 (Absolute)">Distance Zone 6 (Absolute)</option>
                <option value="HSR Per Minute (Absolute)">HSR Per Minute (Absolute)</option>
                <option value="Sprint Distance">Sprint Distance</option>
                <option value="Accelerations Per Min">Accelerations Per Min</option>
                <option value="Decelerations Per Min">Decelerations Per Min</option>
                <option value="Max Speed">Max Speed</option>
                <option value="Distance Per Min">Distance Per Min</option>
                <option value="Accelerations">Accelerations</option>
                <option value="Decelerations">Decelerations</option>
                <option value="HML Distance">HML Distance</option>
                <option value="HMLD Per Minute">HMLD Per Minute</option>
            </select><br><br>

            <h3>Select session's range</h3>
            <label  for="min_session_range">from:</label>
            <input type="number" id="min_session_range" name="min_session_range" min="0">
            <br><br>
            <label for="max_session_range">up to:</label>
            <input type="number" id="max_session_range" name="max_session_range" min="0">
            <br><br>

        <div id="selectContainer">
            <h3 for="firstSelect">select drills families</h3>
            <select id="firstSelect">
                <option value="None" selected>None</option>
                {% for family in drills_data %}
                <option value="{{ family }}">{{ family }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <input type="hidden" id="userChoices" name="userChoices">
        <script>
             // Get references to the form and select elements
            const categoryForm = document.getElementById('categoryForm');
            const selectContainer = document.getElementById('selectContainer');
            const submitButton = document.querySelector('input[type="submit"]');
            const userChoicesInput = document.getElementById('userChoices');
            
            // User choices array to store selections
            const userChoices = [];
            
            // Counter for generating unique names
            let selectCounter = 1;
            
            
            // Event listener to handle changes in the selects
            selectContainer.addEventListener('change', function(event) {
                const select = event.target;
                // Inside your selectContainer event listener
            // Update the hidden input field with user choices
            userChoicesInput.value = userChoices.join(',');
                if (select.value === 'none') {
                    // If the selected option is 'none', remove this select and clear its value
                    selectContainer.removeChild(select);
                    userChoices.pop(); // Remove the last choice
                } else {
                    userChoices.push(select.value); // Store the choice
            
                    // Create a new select element
                    const newSelect = document.createElement('select');
                    newSelect.name = `category_${selectCounter++}`; // Assign a unique name
                    selectContainer.appendChild(newSelect);
            
                    // Add a line break for spacing
                    selectContainer.appendChild(document.createElement('br'));
            
                    // Show the new select element
                    newSelect.style.display = 'block';
            
                    // Populate the new optgroup with options from the same group
                    const firstSelect = document.getElementById('firstSelect');
            
                    const optionsInGroup = Array.from(firstSelect.options);
                    optionsInGroup.forEach(function(option) {
                        const optionElement = document.createElement('option');
                        optionElement.value = option.value;
                        optionElement.textContent = option.textContent;
                        newSelect.appendChild(optionElement);
                    });
            
                }
            
            
                // Update the hidden input field with user choices
                userChoicesInput.value = userChoices.join(',');
            
            });
            
        </script>
        <div class="button-container">
        <button type="button" id="constrains">Create session constrains</button>
        <br><br><br>
        <button type="submit" id="first">Build</button>
        <br>
        </div>
    </div>
    <div class="box" id="secondBox" style="display: none;">
        <h2>Create session's first constrain</h2>
            <h3>select drills families</h3>
            <select id="con_drill2" name="con_drill2">
                <option value="None" selected>None</option>
                {% for family in drills_data %}
                <option value="{{ family }}">{{ family }}</option>
                {% endfor %}
            </select>
        <h3>Select a parameter</h3>
        <select id="const_parameter2" name="const_parameter2">
                <option value="Total Distance">Total Distance</option>
                <option value="Distance Zone 4 (Absolute)">Distance Zone 4 (Absolute)</option>
                <option value="Distance Zone 5 (Absolute)">Distance Zone 5 (Absolute)</option>
                <option value="Distance Zone 6 (Absolute)">Distance Zone 6 (Absolute)</option>
                <option value="HSR Per Minute (Absolute)">HSR Per Minute (Absolute)</option>
                <option value="Sprint Distance">Sprint Distance</option>
                <option value="Accelerations Per Min">Accelerations Per Min</option>
                <option value="Decelerations Per Min">Decelerations Per Min</option>
                <option value="Max Speed">Max Speed</option>
                <option value="Distance Per Min">Distance Per Min</option>
                <option value="Accelerations">Accelerations</option>
                <option value="Decelerations">Decelerations</option>
                <option value="HML Distance">HML Distance</option>
                <option value="HMLD Per Minute">HMLD Per Minute</option>
        </select><br><br>

        <h3>Select constrain range</h3>
        <label  for="min_cons_range">from:</label>
        <input type="number" id="min_cons_range" name="min_cons_range" min="0">
        <br><br>
        <label for="max_cons_range">up to:</label>
        <input type="number" id="max_cons_range" name="max_cons_range" min="0">
        <br><br>
        <div class="button-container">
        <button type="button" id="constrains2">Create another constrain</button>
        <br><br>
        <button type="submit" id="second">Build</button>
        <br>
        </div>
    </div>
    <br>

    <div class="box" id="thirdBox" style="display: none;">
        <h2>Create session's second constrain</h2>
        <h3>select drills families</h3>
        <select id="con_drill3" name="con_drill3">
            <option value="None" selected>None</option>
            {% for family in drills_data %}
            <option value="{{ family }}">{{ family }}</option>
            {% endfor %}
        </select>

        <h3>Select a parameter</h3>
        <select id="const_parameter3" name="const_parameter3">
                <option value="Total Distance">Total Distance</option>
                <option value="Distance Zone 4 (Absolute)">Distance Zone 4 (Absolute)</option>
                <option value="Distance Zone 5 (Absolute)">Distance Zone 5 (Absolute)</option>
                <option value="Distance Zone 6 (Absolute)">Distance Zone 6 (Absolute)</option>
                <option value="HSR Per Minute (Absolute)">HSR Per Minute (Absolute)</option>
                <option value="Sprint Distance">Sprint Distance</option>
                <option value="Accelerations Per Min">Accelerations Per Min</option>
                <option value="Decelerations Per Min">Decelerations Per Min</option>
                <option value="Max Speed">Max Speed</option>
                <option value="Distance Per Min">Distance Per Min</option>
                <option value="Accelerations">Accelerations</option>
                <option value="Decelerations">Decelerations</option>
                <option value="HML Distance">HML Distance</option>
                <option value="HMLD Per Minute">HMLD Per Minute</option>
            </select><br><br>

            <h3>Select constrain range</h3>
            <label  for="min_cons_range">from:</label>
            <input type="number" id="min_cons_range3" name="min_cons_range3" min="0">
            <br><br>
            <label for="max_cons_range">up to:</label>
            <input type="number" id="max_cons_range3" name="max_cons_range3" min="0">
            <br><br>
            <div class="button-container">
            <button type="button" id="constrains3">Create another constrain</button>
            <br><br>
            <button type="submit" id="third">Build</button>
            <br>
            </div>
    </div>
        <br>
            <div class="box" id="fourthBox" style="display: none;">
        <h2>Create session's third constrain</h2>
            <h3>select drills families</h3>
            <select id="con_drill4" name="con_drill4">
                <option value="None" selected>None</option>
                {% for family in drills_data %}
                <option value="{{ family }}">{{ family }}</option>
                {% endfor %}
            </select>

        <h3>Select a parameter</h3>
        <select id="const_parameter4" name="const_parameter4">
                <option value="Total Distance">Total Distance</option>
                <option value="Distance Zone 4 (Absolute)">Distance Zone 4 (Absolute)</option>
                <option value="Distance Zone 5 (Absolute)">Distance Zone 5 (Absolute)</option>
                <option value="Distance Zone 6 (Absolute)">Distance Zone 6 (Absolute)</option>
                <option value="HSR Per Minute (Absolute)">HSR Per Minute (Absolute)</option>
                <option value="Sprint Distance">Sprint Distance</option>
                <option value="Accelerations Per Min">Accelerations Per Min</option>
                <option value="Decelerations Per Min">Decelerations Per Min</option>
                <option value="Max Speed">Max Speed</option>
                <option value="Distance Per Min">Distance Per Min</option>
                <option value="Accelerations">Accelerations</option>
                <option value="Decelerations">Decelerations</option>
                <option value="HML Distance">HML Distance</option>
                <option value="HMLD Per Minute">HMLD Per Minute</option>
            </select><br><br>

            <h3>Select constrain range</h3>
            <label  for="min_cons_range4">from:</label>
            <input type="number" id="min_cons_range4" name="min_cons_range4" min="0">
            <br><br>
            <label for="max_cons_range">up to:</label>
            <input type="number" id="max_cons_range4" name="max_cons_range4" min="0">
            <br><br>
            <div class="button-container">
            <button type="submit" id="fourth">Build</button>
            <br>
            </div>
    </div>
        <br>
        </form>

        <br><br><br>
        <hr>
        <navbar>
        <a class="nav-link" href="/" style="font-size: 14px;">Home Page</a>
        <a class="nav-link" href="/logout" style="font-size: 14px;">Logout From {{ current_user.id }}</a>
        </navbar>
    </div>
    <script>
            document.getElementById('constrains').addEventListener('click', function () {
            document.getElementById('secondBox').style.display = 'block';
            document.getElementById('first').style.display = 'none';
            document.getElementById('constrains').style.display = 'none';
        });

         document.getElementById('constrains2').addEventListener('click', function () {
            document.getElementById('thirdBox').style.display = 'block';
            document.getElementById('second').style.display = 'none';
            document.getElementById('constrains2').style.display = 'none';
        });

            document.getElementById('constrains3').addEventListener('click', function () {
            document.getElementById('fourthBox').style.display = 'block';
            document.getElementById('third').style.display = 'none';
            document.getElementById('constrains3').style.display = 'none';
        });
    </script>
</body>
</html>
